<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Karaoke</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- Navbar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top py-3">
            <div class="container">
                <a href="#" class="navbar-brand text-uppercase font-weight-bold">Transparent Nav</a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="#" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <nav class="btn-group text-md-center" ; div style="padding:25px;background-color:slategray;font-size:20px;max-width:stretch">
        <p>

            <a asp-controller="Karaoke" asp-route-x="A" asp-action="Link" class="btn-outline-dark" style="scroll-padding-inline-end:10px;color:whitesmoke;align-items:center"> A </a>


            <a asp-controller="Karaoke" asp-route-x="B" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> B </a>


            <a asp-controller="Karaoke" asp-route-x="C" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> C </a>


            <a asp-controller="Karaoke" asp-route-x="D" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> D </a>


            <a asp-controller="Karaoke" asp-route-x="E" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> E </a>


            <a asp-controller="Karaoke" asp-route-x="F" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> F </a>


            <a asp-controller="Karaoke" asp-route-x="G" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> G </a>


            <a asp-controller="Karaoke" asp-route-x="H" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> H </a>


            <a asp-controller="Karaoke" asp-route-x="I" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> I </a>


            <a asp-controller="Karaoke" asp-route-x="J" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> J </a>


            <a asp-controller="Karaoke" asp-route-x="K" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> K </a>


            <a asp-controller="Karaoke" asp-route-x="L" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> L </a>


            <a asp-controller="Karaoke" asp-route-x="M" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> M </a>


            <a asp-controller="Karaoke" asp-route-x="N" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> N </a>


            <a asp-controller="Karaoke" asp-route-x="O" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> O </a>


            <a asp-controller="Karaoke" asp-route-x="P" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> P </a>


            <a asp-controller="Karaoke" asp-route-x="Q" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> Q </a>


            <a asp-controller="Karaoke" asp-route-x="R" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> R </a>


            <a asp-controller="Karaoke" asp-route-x="S" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> S </a>


            <a asp-controller="Karaoke" asp-route-x="T" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> T </a>


            <a asp-controller="Karaoke" asp-route-x="U" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> U </a>


            <a asp-controller="Karaoke" asp-route-x="V" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> V </a>


            <a asp-controller="Karaoke" asp-route-x="W" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> W </a>


            <a asp-controller="Karaoke" asp-route-x="X" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> X </a>


            <a asp-controller="Karaoke" asp-route-x="Y" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> Y </a>


            <a asp-controller="Karaoke" asp-route-x="Z" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> Z </a>


            <a asp-controller="Karaoke" asp-route-x="#" asp-action="Link" class="btn-outline-dark" style="padding-inline-start:15px;color:whitesmoke;align-items:center"> # </a>

        </p>
    </nav>
    <form asp-action="Index" method="get">
        <div style="width:300px;margin:0 auto;">
            <p>
                Find by Artist: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <br />
                <input type="submit" value="Search" class="btn btn-outline-primary" style="grid-column-end:auto" />
            </p>
        </div>
    </form>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div class="footer-dark" ;div style="width:400px;margin:0 auto">
        <footer>
            @*<div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>*
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="">Home</a></li>
                </ul>*@
            <p class="copyright">TNailz Karaoke © 2022</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
