<div style="text-align: center">
    <p>
        <a asp-controller="Karaoke" asp-route-x="A" asp-action="Link" Width="75px" class="btn-link"> A </a>
        <a asp-controller="Karaoke" asp-route-x="B" asp-action="Link" class="btn-link"> B </a>
        <a asp-controller="Karaoke" asp-route-x="C" asp-action="Link" class="btn-link"> C </a>
        <a asp-controller="Karaoke" asp-route-x="D" asp-action="Link" class="btn-link"> D </a>
        <a asp-controller="Karaoke" asp-route-x="E" asp-action="Link" class="btn-link"> E </a>
        <a asp-controller="Karaoke" asp-route-x="F" asp-action="Link" class="btn-link"> F </a>
        <a asp-controller="Karaoke" asp-route-x="G" asp-action="Link" class="btn-link"> G </a>
        <a asp-controller="Karaoke" asp-route-x="H" asp-action="Link" class="btn-link"> H </a>
        <a asp-controller="Karaoke" asp-route-x="I" asp-action="Link" class="btn-link"> I </a>
        <a asp-controller="Karaoke" asp-route-x="J" asp-action="Link" class="btn-link"> J </a>
        <a asp-controller="Karaoke" asp-route-x="K" asp-action="Link" class="btn-link"> K </a>
        <a asp-controller="Karaoke" asp-route-x="L" asp-action="Link" class="btn-link"> L </a>
        <a asp-controller="Karaoke" asp-route-x="M" asp-action="Link" class="btn-link"> M </a>
        <a asp-controller="Karaoke" asp-route-x="N" asp-action="Link" class="btn-link"> N </a>
        <a asp-controller="Karaoke" asp-route-x="O" asp-action="Link" class="btn-link"> O </a>
        <a asp-controller="Karaoke" asp-route-x="P" asp-action="Link" class="btn-link"> P </a>
        <a asp-controller="Karaoke" asp-route-x="Q" asp-action="Link" class="btn-link"> Q </a>
        <a asp-controller="Karaoke" asp-route-x="R" asp-action="Link" class="btn-link"> R </a>
        <a asp-controller="Karaoke" asp-route-x="S" asp-action="Link" class="btn-link"> S </a>
        <a asp-controller="Karaoke" asp-route-x="T" asp-action="Link" class="btn-link"> T </a>
        <a asp-controller="Karaoke" asp-route-x="U" asp-action="Link" class="btn-link"> U </a>
        <a asp-controller="Karaoke" asp-route-x="V" asp-action="Link" class="btn-link"> V </a>
        <a asp-controller="Karaoke" asp-route-x="W" asp-action="Link" class="btn-link"> W </a>
        <a asp-controller="Karaoke" asp-route-x="X" asp-action="Link" class="btn-link"> X </a>
        <a asp-controller="Karaoke" asp-route-x="Y" asp-action="Link" class="btn-link"> Y </a>
        <a asp-controller="Karaoke" asp-route-x="Z" asp-action="Link" class="btn-link"> Z </a>
        <a asp-controller="Karaoke" asp-route-x="#" asp-action="Link" class="btn-link"> # </a>



    </p>
</div>
